.arrow{
	width: 12px;
	height: 12px;
}
table{
	tbody{
		background: white;
	}
}

.catalog{
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	gap: 20px;
	background: white;
	select{
		font-size: 16px;
		padding: 10px;
		width: 200px;
		display: flex;
	}
	.cart{
		padding: 20px;
		width: 650px;
		display: flex;
		flex-flow: row;
		gap: 20px;
		justify-content: center;
		.image{
			padding: 0 30px;
			position: relative;
			.new{
				padding: 10px;
				background: rgb(235, 235, 235);
				border-radius: 8px;
				position: absolute;
				top: 0;
				left: 0;
			}
			.discount{
				padding: 10px;
				background: rgb(255, 89, 89);
				border-radius: 8px;
				position: absolute;
				top: 0;
				// left: 90px;
				color: white;
			}
		}
		.text{
			display: flex;
			flex-flow: column;
			gap: 10px;
			width: 300px;
			h3{
				font-weight: 600;
				width: 200px;
				line-height: 20px;
			}
			h4{
				font-weight: 300;
			}
			p{
				font-weight: 500;
				line-height: 20px;
			}
			.price{
				display: flex;
				flex-flow: row;
				gap: 10px;
				align-items: center;
				h3{
					width: 100px;
				}
				span{
					text-decoration: line-through;
				}
			}
		}
	}
}