.phoneInput {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.phoneInput .radio {
  width: 200px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 10px;
}
.phoneInput .radio label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.phoneInput .selectInput {
  display: flex;
  align-items: center;
  gap: 5px;
}
.phoneInput .selectInput .input {
  position: relative;
  display: flex;
  align-items: center;
}
.phoneInput .selectInput .input img {
  position: absolute;
  left: 10px;
}
.phoneInput .selectInput .input input {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 225px;
  font-size: 13px;
}
.phoneInput .selectInput .input input ::-moz-placeholder {
  font-size: 14px;
}
.phoneInput .selectInput .input input ::placeholder {
  font-size: 14px;
}
.phoneInput .selectInput select {
  width: 18px;
  font-size: 13px;
  margin: 0 5px;
  display: flex;
  flex-flow: wrap;
  border-radius: 5px;
}
.phoneInput .selectInput select option {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 140px;
}
.phoneInput .selectInput select .option {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 140px;
  gap: 10px;
}