table {
  border-collapse: collapse;
}
table thead {
  background: rgb(177, 177, 177);
}
table thead tr td {
  cursor: pointer;
  font-weight: 500;
}
table tr td {
  border: 1px solid black;
  padding: 5px;
}