$black: rgba(0, 0, 0, 0.561);
$blue: rgb(115, 162, 254);

.all{
	display: flex;
	flex-flow: column;
	gap: 30px;
	align-items: center;
}

.output{
	background: white;
	border-radius: 30px;
	height: 50px;
	width: 230px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

.calendar{
	width: calc(40px * 7 + 20px);
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	background: white;
	border-radius: 8px;
	box-shadow: 4px 4px 17px 0px rgb(190 190 190);
	.calendarHead{
		box-shadow: inset 0px -11px 5px -10px rgb(190 190 190);
		padding: 15px 10px;
		.button{
			align-items: center;
			justify-content: space-between;
			display: flex;
			align-items: center;
			gap: 5px;
			.dateOutput{
				display: flex;
				gap: 10px;
				align-items: center;
				.select{
					position: relative;
					p{
						position: absolute;
						top: 0;
						left: 0;
						color: black;
						font-size: 16px;
					}
					select{
						
						opacity: 0;
						font-size: 16px;
						color: black;
						appearance: none;
						cursor: pointer;
					}
				}
				select{

					font-size: 13px;
				}

			}
			button{
				cursor: pointer;
				width: 30px;
				height:30px;
				font-size: 18px;
				background: white;
				color: $blue;
				font-weight: 600;
			}
		}
	}
	.calendarBody{
		box-shadow: inset 0px 6px 20px -10px rgb(117 117 117 / 36%);
		border-radius: 0 0 8px 8px;
		padding: 0 0 10px 0;
		background: rgba(194, 194, 194, 0.36);
		.cellsHead{
			display: flex;
			flex-flow: row;
			justify-content: center;
			div{
				min-width: 40px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: $blue;
			}
		}
		.cellsBody{
			overflow-x: hidden;
			width: calc(40px * 7);
			margin: 0 auto;
			.cellsTrack{
				display: flex;
				align-items: row;
				transition: transform .2s ease;
				.monthsCell{
					min-width: calc(40px * 7);
					display: flex;
					flex-flow: wrap;
					gap: 0;
					align-content: start;
					.cell{
						padding: 10px;
					}
					div{
						cursor: pointer;
						width: 40px;
						height:40px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 10px;
						// background-clip:  padding-box;
						background: transparent;
						border: 2px solid transparent;
						transition: background .2s ease-in-out, border .3s ease;
						&:hover{
							background: lighten($color: $blue, $amount: 13%);
						}
					}
				}
			}
		}
	}
}