* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  widows: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-iner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

svg {
  width: 50px;
  height: 50px;
}

body {
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
}

h2 {
  margin: 10px 0;
}

hr {
  height: 1px;
  background: black;
  margin: 10px 0;
}

.timezone {
  font-size: 16px;
  width: 400px;
}

.calendar {
  border: 1px solid #565656;
  background: white;
  display: flex;
  flex-flow: column;
  gap: 0;
}
.calendar .calendarHead {
  background: #949494;
}