$black: rgba(0, 0, 0, 0.561);
$blue: rgb(78, 135, 251);

.comments {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 800px;
	// border: 1px solid $black;
	border-radius: 8px;
	background: rgba(194, 194, 194, 0.36);
	box-shadow: 4px 4px 17px 0px rgb(190 190 190);
    .profile {
		border-radius: 8px 8px 0 0;
		background: white;
		padding: 10px 20px;
		padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
		box-shadow: inset 0px -11px 5px -10px rgb(190 190 190);
        .avatar,
        .name {
			display: flex;
            align-items: center;
            gap: 20px;
			img{
				width: 40px;
				height: 40px;
			}
			select{
				font-size: 14px;
				width: 150px;
			}
			input{
				font-size: 14px;
				padding: 5px 10px;
			}
			input[type="email"]{
				width: 200px;
			}
        }
		.name{
			gap: 30px;
		}
    }
    .commentsInput {
		padding: 10px 20px;
		box-shadow: inset 0px 6px 20px -10px rgb(117 117 117 / 36%);
			
		.commentsTrack{
			height: 400px;
			overflow-x: hidden;
			overflow-y: auto;
			padding: 15px;
			margin: 0 0 20px 0;
			height: 400px;
			display: flex;
			flex-flow: column;
			gap: 20px;
			h4{
				color: $black;
				display: flex;
				justify-content: center;
			}
			.oneComment{
				padding: 15px;
				background: white;
				// border: 1px solid $black;
				justify-content: space-between;
				border-radius: 8px;
				display: flex;
				flex-flow: row;
				gap: 10px;
				box-shadow: 0px 3px 10px rgba(133, 133, 133, 0.449);
				transition: transform .3s ease-in-out, box-shadow .2s ease-in-out;
				&:hover{
					transform: translateY(-5px);
					box-shadow: 0px 5px 10px rgba(86, 86, 86, 0.399);
				}
				img{
					width: 30px;
					height: 30px;
				}
				.text{
					display: flex;
					flex-flow: column;
					gap: 10px;
					.top{
						// width: 660px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						.delete{
							display: flex;
							align-items: center;
							input{
								font-size: 12px;
								height: 20px;
							}
						}
					}
					.body .edit{
						display: flex;
						flex-flow: row;
						justify-content: space-between;
						gap: 10px;
						.text{
							p{
								line-height: 18px;
								width: 610px;
								background: wheat;
							}
							input{
								line-height: 18px;
								font-size: 14px;
								width: 610px;
								background: gray;
							}
						}
						.textEdit{
							display: flex;
							flex-flow: column;
							align-items: end;
							gap: 10px;
							.editButton{
								background: $blue;
								height: 30px;
								width: 40px;
								border-radius: 8px;
								display: flex;
								justify-content: center;
								align-items: center;
							}								
						}
					}
					.bottom{
						.info{
							display: flex;
							justify-content: start;
							position: relative;
							height: 20px;
							.user{
								display: flex;
								align-items: center;
								gap: 20px;
								justify-content: space-between;
							}
							.btn{
								position: absolute;
								right: 0;
							}
						}
					}
					
				}
				
			}
			}

		.addComments{
			display: flex;
			flex-flow: column;
			gap: 15px;
			background: white;
			padding: 15px 25px;
			border: 1px solid rgb(85 85 85 / 33%);
			border-radius: 8px;
			.black{
				input{
					font-size: 16px;
					width: 710px;
					height: 40px;
				}
				::placeholder{
					color: rgba(0, 0, 0, 0.766);
					font-weight: 600;
				}
			}
			.transparent{
				input{
					font-weight: 600;
					width: 710px;
					height: 40px;
					font-size: 16px;
				}
				::placeholder{
					color: $black;
					font-weight: 600;
				}
			}
			.delete{
				display: flex;
				align-items: center;
				justify-content: space-between;
				input{
					width: 600px;
					height: 30px;
					font-size: 14px;
				}
				.create{
					width: 100px;
					height: 30px;
					background: $blue;
					border-radius: 8px;
					display: flex;
					align-items: center;
					display: flex;
					justify-content: center;;
				}
			}
		}
    }
	
}