@import "_reset.scss";
body {
	padding: 10px 20px;	
	font-family: "Inter", sans-serif;
}
h2 {
    margin: 10px 0;
}
hr {
    height: 1px;
    background: black;
    margin: 10px 0;
}




.timezone {
    font-size: 16px;
    width: 400px;
    // height: 30px;
}


.calendar{
	border: 1px solid #565656;
	// border-radius: 10px;
	background: white;
	display: flex;
	flex-flow: column;
	gap: 0;
	.calendarHead{
		background: #949494;
		// border-radius: 10px 10px 0 0;
	}
}






